<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avarus</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/80c46885ed.js"></script> 
    <link rel="shortcut icon" href="https://i.redd.it/9o58donfgh331.png" type="image/png">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <input id="show-menu" name="modal" type="checkbox">
        <label class="header-hamburger hamburger" for="show-menu"><span class="hamburger__icon"></span></label>
        <p class="logo">Avarus</p>
        <button class="button">Logout</button>
        <nav class="header-nav nav">
            <ul class="nav-menu menu">
                <li class="menu-item">Luka</li>
                <li class="menu-item">Budget</li>
                <li class="menu-item">Transactions</li>
                <li class="menu-item">History</li>
                <li class="menu-item">Favorite</li>
                <li class="menu-item">Profile</li>
                <li class="menu-item">
                    <label class="hamburger-close" for="show-menu">Close</label>
                </li>
            </ul>
        </nav>
    </header> 

    <footer class="footer">
        <div class="footer__others others">
            <div class="others__copyright">copyright of Adrían Zhu ©2019 </div>
            <ul class="others__social-media social-media">
                <li className="social-media__media-icon">
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li className="social-media__media-icon">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li className="social-media__media-icon">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li className="social-media__media-icon">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </footer>

    <section class="land hidden">
        <div class="container-landing">
            <div class="form-landing">

                <div class="wrap-landing">

                        <h1 class="wrap-landing__title">Avarus</h1>
                
                        <div class="wrap-landing__btnContainer btnContainer">
                            <button class="btnContainer__btn">Login</button>
                            <button class="btnContainer__btn">Register</button>
                        </div>

                        <p class="wrap-landing__copyright">@copyright by Adrían Zhu</p>
                </div> 

            </div>
        </div>
    </section>

    <section class="log hidden">
            <div class="container-login">
                <div class="form-login">
    
                    <form type="submit" class="wrap-login">
    
                            <h1 class="wrap-login__title">LOGIN</h1>

                            <div class="wrap-login__input" data-validate="email is required">
                                <input class="wrap-login__input-container" type="email" name="email" placeholder="Email">
                                <span class="wrap-login__input-symbol">
                                    <i class="far fa-envelope"></i>
                                </span>
                            </div>

                            <div class="wrap-login__input" data-validate="password is required">
                                <input class="wrap-login__input-container" type="password" name="password" placeholder="Password">
                                <span class="wrap-login__input-symbol">
                                    <i class="fas fa-unlock-alt"></i>
                                </span>
                            </div>
                    
                            <div class="wrap-login__btnContainer btnContainer">
                                <button class="btnContainer__btn">Login</button>
                            </div>

                            <div class="wrap-login__textContainer">
                                <a class="wrap-login__textContainer-a" href ="#">
                                    Go back
                                </a>

                                <a class="wrap-login__textContainer-a" href="#">
                                    Sign up now							
                                </a> 
                            </div>
                                
                            <p class="wrap-login__copyright">@copyright by Adrían Zhu</p>

                    </form>     
                </div>
            </div>
    </section>

    <section class="reg hidden">
            <div class="container-register">
                <div class="form-register">
    
                    <form type="submit" class="wrap-register">
    
                            <h1 class="wrap-register__title">Register</h1>

                            <div class="wrap-register__input" data-validate="name is required">
                                <input class="wrap-login__input-container" type="text" name="name" placeholder="Name">
                                <span class="wrap-login__input-symbol">
                                    <i class="fas fa-sort-alpha-down"></i>
                                </span>
                            </div>

                            <div class="wrap-register__input" data-validate="surname is required">
                                <input class="wrap-login__input-container" type="text" name="surname" placeholder="Surname">
                                <span class="wrap-login__input-symbol">
                                    <i class="fas fa-sort-alpha-up-alt"></i>
                                </span>
                            </div>

                            <div class="wrap-register__input" data-validate="email is required">
                                <input class="wrap-login__input-container" type="email" name="email" placeholder="Email">
                                <span class="wrap-login__input-symbol">
                                    <i class="far fa-envelope"></i>
                                </span>
                            </div>

                            <div class="wrap-register__input" data-validate="password is required">
                                <input class="wrap-login__input-container" type="password" name="password" placeholder="Password">
                                <span class="wrap-login__input-symbol">
                                    <i class="fas fa-unlock-alt"></i>
                                </span>
                            </div>
                    
                            <div class="wrap-register__btnContainer btnContainer">
                                <button class="btnContainer__btn">Register</button>
                            </div>

                            <div class="wrap-register__textContainer">
                                <a class="wrap-register__textContainer-a" href ="#">
                                    Go back?
                                </a>
                            </div>
                                
                            <p class="wrap-register__copyright">@copyright by Adrían Zhu</p>

                    </form>     
                </div>
            </div>
    </section>

    <main class="main">
        <span class="main-span">Choose the stocks you'd like to give</span>
        <form type="submit" class="main-search">
            <input class="main-search__text" name="query" placeholder="search" class="query">
            <div class="main-search__btn"><i class="fas fa-search"></i></div>
        </form>
        <nav class="main-nav">
            <ul class="main-nav__category category">

                <li class="category-company company">
                    <button class="company-button button">
                        <p class="button-name">Treding</p> <p class="button-signal"> <i class="fas fa-arrow-right"></i> </p>  
                    </button>
                    <ul class="button-list"></ul>
                </li>

                <li class="category-company company">
                    <button class="company-button button">
                        <p class="button-name">Most Active</p> <p class="button-signal"> <i class="fas fa-arrow-right"></i> </p> 
                    </button>
                    <ul class="button-list"></ul>
                </li>

                <li class="category-company company">
                    <button class="company-button button">
                        <p class="button-name">Top Gainers</p> <p class="button-signal"> <i class="fas fa-arrow-right"></i> </p>  
                    </button>
                    <ul class="button-list"></ul>
                </li>

                <li class="category-company company">
                    <button class="company-button button">
                        <p class="button-name">Top Losers</p> <p class="button-signal"> <i class="fas fa-arrow-right"></i> </p>
                    </button>
                    <ul class="button-list"></ul>
                </li>

                <li class="category-company company">
                    <button class="company-button button">
                        <p class="button-name">Tech</p> <p class="button-signal"> <i class="fas fa-arrow-right"></i> </p>  
                    </button>
                    <ul class="button-list"></ul>
                </li>
                
                <li class="category-company company">
                        <button class="company-button button">
                            <p class="button-name">Restaurant</p> <p class="button-signal"> <i class="fas fa-arrow-right"></i> </p>
                        </button>
                    <ul class="button-list"></ul>
                </li>

                <li class="category-company company">
                        <button class="company-button button">
                            <p class="button-name">Food & Drink</p> <p class="button-signal"> <i class="fas fa-arrow-right"></i> </p>
                        </button>
                    <ul class="button-list"></ul>
                </li>

                <li class="category-company company">
                    <button class="company-button button">
                        <p class="button-name">Sports</p> <p class="button-signal"> <i class="fas fa-arrow-right"></i> </p>
                    </button>
                    <ul class="button-list"></ul>
                </li>

                <li class="category-company company">
                    <button class="company-button button">
                        <p class="button-name">Gaming</p> <p class="button-signal"> <i class="fas fa-arrow-right"></i> </p>
                    </button>
                    <ul class="button-list"></ul>
                </li>

                <li class="category-company company">
                    <button class="company-button button">
                        <p class="button-name">Hobbies</p> <p class="button-signal"> <i class="fas fa-arrow-right"></i> </p>
                    </button>
                    <ul class="button-list"></ul>
                </li>

            </ul>
        </nav>
    </main>
</body>
</html>