.footer
    // position: fixed
    flex-grow: 1
    bottom: 0
    z-index: 10
    // width: 102vw
    height: 5rem
    background-color: whitesmoke
    color: black
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    padding: .5%
    border-top: 1px solid #bdbdbd     

    .footer-menu
        display: flex
        flex-direction: row
        justify-content: space-evenly
        width: 100%
    
        &__about-us
            font-size: 70%
        &__privacy
            font-size: 70%
        &__contact-us
            font-size: 70%
        &__conditions
            font-size: 70%
    
    .others
        display: flex
        flex-direction: row
        justify-content: space-evenly
        width: 100%

        &__copyright
            font-size: 70%
            width: 56%
        .social-media
            display: flex
            flex-direction: row
            justify-content: space-around
            list-style: none
            width: 30%
            a
                color: black
            
            &__media-icon
                display: flex
                flex-direction: row
                align-content: space-evenly
                justify-content: flex-start
                font-size: 1rem
                margin: 0 1px 0 1px