.detail
    width: 100%
    .container
        width: 100%
        .description
            width: 100%
            display: flex
            align-items: center
            flex-direction: column
            padding: 2rem 3rem

            &-title
                padding: .5rem 0
            
            &-image
                padding: .5rem 0

            &-currentValue
                padding: .5rem 0

            &-percentage
                width: 100%
                padding: .5rem 0

                &__red
                    color: red

                &__green
                    color: green

        .navegator
            width: 100%

            .list
                width: 100%
                display: flex
                align-items: center
                justify-content: space-evenly
                margin: 1rem
                margin-left: 0

                padding-bottom: 2rem 
                border-bottom: 1px solid black

                .item

                    &-button
                        background-color: transparent 
                        border: 1px solid black
                        padding: .2rem .5rem
                    
