<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>$ViCaDa</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/80c46885ed.js"></script> 
    <link rel="shortcut icon" href="https://i.redd.it/9o58donfgh331.png" type="image/png">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>
<body>
    <section class="land hidden">
        <div class="container-landing">
            <div class="form-landing">

                <div class="wrap-landing">

                        <h1 class="wrap-landing__title">VICADA$</h1>
                
                        <div class="wrap-landing__btnContainer btnContainer">
                            <button class="btnContainer__btn">Login</button>
                            <button class="btnContainer__btn">Register</button>
                        </div>

                        <p class="wrap-landing__copyright">@copyright by Adrían Zhu</p>
                </div> 

            </div>
        </div>
    </section>

    <section class="log">
            <div class="container-login">
                <div class="form-login">
    
                    <div class="wrap-login">
    
                            <h1 class="wrap-login__title">LOGIN</h1>

                            <div class="wrap-login__input" data-validate="email is required">
                                <input class="wrap-login__input-container" type="email" name="email" placeholder="Email">
                                <span class="wrap-login__input-symbol">
                                    <i class="far fa-envelope"></i>
                                </span>
                            </div>

                            <div class="wrap-login__input" data-validate="password is required">
                                <input class="wrap-login__input-container" type="password" name="password" placeholder="Password">
                                <span class="wrap-login__input-symbol">
                                    <i class="fas fa-unlock-alt"></i>
                                </span>
                            </div>
                    
                            <div class="wrap-login__btnContainer btnContainer">
                                <button class="btnContainer__btn">Login</button>
                            </div>

                            <div class="wrap-login__textContainer">
                                <a class="wrap-login__textContainer-a" href ="#">
                                    Go back
                                </a>

                                <a class="wrap-login__textContainer-a" href="#">
                                    Sign up now							
                                </a> 
                            </div>
                                
                            <p class="wrap-login__copyright">@copyright by Adrían Zhu</p>

                    </div>     
                </div>
            </div>
    </section>

    <section class="reg">
            <div class="container-register">
                <div class="form-register">
    
                    <div class="wrap-register">
    
                            <h1 class="wrap-register__title">Register</h1>

                            <div class="wrap-register__input" data-validate="name is required">
                                <input class="wrap-login__input-container" type="text" name="name" placeholder="Name">
                                <span class="wrap-login__input-symbol">
                                    <i class="fas fa-sort-alpha-down"></i>
                                </span>
                            </div>

                            <div class="wrap-register__input" data-validate="surname is required">
                                <input class="wrap-login__input-container" type="text" name="surname" placeholder="Surname">
                                <span class="wrap-login__input-symbol">
                                    <i class="fas fa-sort-alpha-up-alt"></i>
                                </span>
                            </div>

                            <div class="wrap-register__input" data-validate="username is required">
                                <input class="wrap-login__input-container" type="text" name="username" placeholder="Username">
                                <span class="wrap-login__input-symbol">
                                    <i class="far fa-user"></i>
                                </span>
                            </div>

                            <div class="wrap-register__input" data-validate="email is required">
                                <input class="wrap-login__input-container" type="email" name="email" placeholder="Email">
                                <span class="wrap-login__input-symbol">
                                    <i class="far fa-envelope"></i>
                                </span>
                            </div>

                            <div class="wrap-register__input" data-validate="password is required">
                                <input class="wrap-login__input-container" type="password" name="password" placeholder="Password">
                                <span class="wrap-login__input-symbol">
                                    <i class="fas fa-unlock-alt"></i>
                                </span>
                            </div>
                    
                            <div class="wrap-register__btnContainer btnContainer">
                                <button class="btnContainer__btn">Register</button>
                            </div>

                            <div class="wrap-register__textContainer">
                                <a class="wrap-register__textContainer-a" href ="#">
                                    Go back?
                                </a>
                            </div>
                                
                            <p class="wrap-register__copyright">@copyright by Adrían Zhu</p>

                    </div>     
                </div>
            </div>
    </section>


</body>
</html>