<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>$ViCaDa</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/80c46885ed.js"></script> 
    <link rel="shortcut icon" href="https://i.redd.it/9o58donfgh331.png" type="image/png">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>
<body>
    <section class="land hide">
        <div class="container-landing">
            <div class="form-landing">

                <div class="wrap-landing">

                        <h1 class="wrap-landing__title">VICADA$</h1>
                
                        <div class="wrap-landing__btnContainer btnContainer">
                            <button class="btnContainer__btn">Login</button>
                            <button class="btnContainer__btn">Register</button>
                        </div>
                        
                        <p class="wrap-landing__copyright">@copyright by Adrían Zhu</p>
                </div> 

            </div>
        </div>
    </section>

    <section class="land">
            <div class="container-landing">
                <div class="form-landing">
    
                    <div class="wrap-landing">
    
                            <h1 class="wrap-landing__title">VICADA$</h1>
                    
                            <div class="wrap-landing__btnContainer btnContainer">
                                <button class="btnContainer__btn">Login</button>
                                <button class="btnContainer__btn">Register</button>
                            </div>
                            
                            <p class="wrap-landing__copyright">@copyright by Adrían Zhu</p>
                    </div> 
    
                </div>
            </div>
    </section>


</body>
</html>