@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat+Alternates&display=swap')

* 
    box-sizing: border-box
    margin: 0
    padding: 0

body
    background-color: silver
    font-family: 'Oswald', sans-serif

    font-size: 1rem
    font-weight: 400
    line-height: 1.5
    color: #222222
    background-color: #fff

    display: flex
    flex-direction: column
    min-height: 100vh

button, input
    outline: none
    border: none

ul
    list-style: none

a
    text-decoration: none
    color: black

th
    font-size: .7rem
    padding-left: .5rem

td
    font-size: .7rem
    padding-left: .5rem
    text-align: center